
@{
    ViewBag.Title = "Order overzicht";
}

<h2>Order overzicht</h2>
<div class="header">
    <h3>Zwarte Cross 2015<span class="col-sm-6"><img src="https://tickets.feestfabriek.nl/content/shops/zwarte-cross-2015.png" class="img-responsive img-rounded"></span></h3>
</div>
<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <div class="well well-sm">
            <dl>
                <dt>Evenement:</dt>
                <dd>Zwarte Cross 2015</dd>
                <dt>Datum:</dt>
                <dd>23 t/m 27 juli 2015</dd>
                <dt>Locatie:</dt>
                <dd>Lichtenvoorde</dd>
            </dl>
        </div>
    </div>
</div>
<div id="steps-uid-0" class="wizard clearfix" role="application">
    <section aria-hidden="false" class="body current" aria-labelledby="steps-uid-0-h-0" role="tabpanel" id="steps-uid-0-p-0">
        <div class="well well-sm well-inverse">Tickets</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th style="min-width: 80px;">Prijs</th>
                    <th style="width: 140px;">Aantal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Dagkaart Vrijdag</strong><br><small>24 juli 2015, 10:00u - 02:00u</small></td>
                    <td>€ 30.00</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Dagkaart Vrijdag Jeugd</strong><br><small>Jeugd t/m 15 jaar | 24 juli 2015, 10:00u - 02:00u</small></td>
                    <td>€ 10.00</td>
                    <td>&nbsp;</td>
                </tr>

            </tbody>
            <tfoot>
                <tr class="success">
                    <td><strong>Totaal</strong></td>
                    <td><strong><span id="totalAmount">€ 0.00</span></strong></td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
        <div class="well well-sm well-inverse">Uw gegevens	</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="230"><div align="right">Naam:</div></th>
                    <th width="846" style="min-width: 80px;">WIllem van Strien</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="230"><div align="right">Adres</div></td>
                    <td style="min-width: 80px;">Vaartweg 186</td>
                </tr>
                <tr>
                    <td><div align="right"></div></td>
                    <td>5106 NG Dongen</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="success">
                    <td><div align="right">Email</div></td>
                    <td>wvstrien@jalem.nl</td>
                </tr>
            </tfoot>
        </table>
    </section>
    <nav>
        <ul class="pager">
            <li class="previous disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Vorige</a></li>
            <li class="next"><a href="#">Volgende <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        </ul>
    </nav>
</div>
