body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("Images/ps_neutral.png");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 5px 5px;
    box-shadow: 0px 0px 30px 0px #d5d5d5;
    -webkit-box-shadow: 0px 0px 30px 0px #d5d5d5;
    -moz-box-shadow: 0px 0px 30px 0px #d5d5d5;
    -o-box-shadow: 0px 0px 30px 0px #d5d5d5;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Header */
.navbar-brand {
    color: #e02b40;
}

.navbar-brand:hover {
    color: #fa7281;
}

.container h2 {
    color: #e02b40;
}

.table-responsive table tr {
    background-color: #fff;
}

.banner {
    width: 100%;
    height: 400px;
    overflow:hidden;
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
}

.banner img {
    margin-top: -10%;
}


/* Container */
#slides {
    display:none;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.thumbnail {
    margin-bottom: 10px;
}

.thumbnail .title span {
    margin-top: 25px;
}


/* Bootstrap override*/

.btn-primary {
    background-color: #d93b3b;
    border-color: #e02b40;
}

.btn-primary:hover {
    color: #c1c1c1;
    background-color: #b12636;
    border-color: #902430;
}