@{
    ViewBag.Title = "Order overzicht";
}

<p>&nbsp;</p>
<div class="alert alert-success" role="alert">
    Bedankt voor je bestelling! Je tickets zijn verstuurd naar: <strong>@ViewBag.Email</strong>
    <br />
    <a href="@Url.Action("Index", "Home")">Klik hier</a> om door te gaan.
</div>
