<p>&nbsp;</p>
<div class="alert alert-success" role="alert">
    @Resource.ThankYouTicketAreSend <strong>@ViewBag.Email</strong>
    <br />
    <a href="@Url.Action("Index", "Home")">@Resource.GoToHome</a>
</div>
