@{
    ViewBag.Title = "Over Ons";
}
<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis dui risus, at condimentum orci tristique at. Curabitur id massa ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse accumsan leo a ligula ornare, sit amet sagittis nibh blandit. Nullam blandit ligula felis, sit amet convallis leo ultrices vel. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur pulvinar eget dolor vitae placerat. Nam eget vehicula purus. Vestibulum pellentesque neque purus, eu bibendum metus interdum id. Donec quis elit ipsum. Ut vitae massa elementum, fermentum augue vel, pellentesque massa. Donec pharetra lacus nisi, sed tincidunt quam eleifend sit .</p>
    </div>
</div>