<h2>@Resource.Contact</h2>

    <div class="panel panel-default">
        <div class="panel-body">
            <dl>
                <dt>@Resource.Address</dt>
                <dd>AvansFestivals</dd>
                <dd>Lovendijkstraat 63</dd>
                <dd>4818 AJ Breda</dd>
            </dl>
            <dl>
                <dt>@Resource.Contact</dt>
                <dd>T: 076-12345678</dd>
                <dd>E: avansfestivals@gmail.com</dd>
            </dl>
        </div>
    </div>
